@charset "UTF-8";
/*Reset Global*/
html {
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

/*Variável*/
/*Theme*/
body {
  font-size: 100%;
  color: #fff;
  background: #000 url(../images/bg-site.png) no-repeat top center;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  font-family: "Poppins", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: justify;
}

@media (max-width: 767px) {
  p {
    font-size: 0.75rem;
  }
}

ul li {
  list-style: none;
}

h2 {
  padding-top: 100px;
  padding-bottom: 10px;
  font-size: 72px;
  font-weight: 800;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  h2 {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  h2.title::before {
    border-bottom: 2px solid !important;
    bottom: 17px !important;
  }
  h2.title::after {
    border-bottom: 2px solid !important;
    bottom: 18px !important;
  }
}

b {
  font-weight: 800;
}

/*Cor do Scroll*/
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #000;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #fff;
}

/*Preloader*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: white;
}

.preloader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 115px;
  height: 25px;
  margin: 0px 0 0 -55px;
  z-index: 1500;
}

.preloader span {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: black;
  opacity: 0.5;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.9);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.9);
  -webkit-animation: preloader 1.2s infinite ease-in-out;
          animation: preloader 1.2s infinite ease-in-out;
}

.preloader::after {
  content: 'Carregando...';
  color: #000;
  margin-top: 49px;
  position: absolute;
  margin-left: 21px;
  font-size: 23px;
}

.preloader span:nth-child(1) {
  left: 66px;
}

.preloader span:nth-child(2) {
  left: 66px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.preloader span:nth-child(3) {
  left: 66px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.preloader span:nth-child(4) {
  left: 66px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.preloader span:nth-child(5) {
  left: 66px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

@-webkit-keyframes preloader {
  25% {
    opacity: 0.7;
    background: white;
  }
  50% {
    opacity: 1;
    -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
  }
  75% {
    opacity: 0.7;
    background: white;
  }
}

@keyframes preloader {
  25% {
    opacity: 0.7;
    background: white;
  }
  50% {
    opacity: 1;
    -webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 3px rgba(0, 0, 0, 0.5);
  }
  75% {
    opacity: 0.7;
    background: white;
  }
}

/*-----Form-------*/
/*Placeholder*/
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #006096 !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #006096 !important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #006096 !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #006096 !important;
}

/* menu */
#header .menu {
  clear: both;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
  /* border: 1px solid green; */
}

/* menu icon */
#header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px;
}

#header .menu-icon .navicon:before,
#header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

#header .menu-icon .navicon:before {
  top: 5px;
}

#header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
#header .menu-btn {
  display: none;
}

#header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

#header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

#header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
#header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 992px) {
  #header .menu {
    clear: none;
    max-height: none;
    /* border: 1px solid red; */
  }
  #header .menu li a {
    clear: none;
    max-height: none;
  }
  #header .menu-icon {
    display: none;
  }
}

/*mudar cor menu responsivo*/
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28236, 236, 236, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler {
  border-color: #fff;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*-----Theme-------*/
/*Header*/
#header.bg {
  background: url(../images/cantores.png) no-repeat bottom center;
  background-size: contain;
  height: 50vw;
  width: 100%;
}

@media (max-width: 1699px) {
  #header.bg {
    height: 40vw;
  }
}

@media (max-width: 991px) {
  #header.bg {
    height: 80vw;
  }
}

@media (max-width: 390px) {
  #header.bg {
    height: 100vw;
  }
}

.bg-cor {
  height: 100%;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  /* position: fixed;
    width: 100%;
    z-index: 9; */
}

@media (min-width: 992px) {
  .bg-cor {
    background: transparent !important;
  }
}

/*Nav*/
#nav {
  padding-top: 4vw;
  padding-left: 5vw;
  padding-bottom: 4vw;
  z-index: 999;
}

#nav .logo {
  width: 24vw;
  min-width: 160px;
}

#nav .menu {
  margin-top: 3vw;
  margin-left: 1.2vw;
  margin-bottom: 0;
  padding-left: 0;
  width: 90%;
}

@media (max-width: 991px) {
  #nav .menu {
    /* display: none; 
             height: 0;
            overflow: hidden;*/
    /*  max-height: 0; */
  }
}

#nav .menu li a {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
}

@media (max-width: 1599px) {
  #nav .menu li a {
    font-size: 18px !important;
  }
}

@media (max-width: 1199px) {
  #nav .menu li a {
    font-size: 16px !important;
  }
}

@media (max-width: 991px) {
  #nav .menu li a {
    font-size: 14px !important;
  }
}

#timbalada {
  background-color: #000000e6;
  height: 891px;
}

@media (max-width: 1199px) {
  #timbalada {
    height: 891px;
  }
}

@media (max-width: 991px) {
  #timbalada {
    height: initial;
  }
}

#timbalada .bg {
  background: url(../images/bg-section-timbalada.png) repeat;
  width: 100%;
  height: 87px;
  border-top: 15px solid #ff404a;
}

#timbalada #article {
  overflow: hidden;
}

#timbalada #article h2.title {
  padding-top: 50px;
  position: relative;
}

#timbalada #article h2.title::after {
  content: '';
  border-bottom: 4px solid #fff;
  position: absolute;
  bottom: 28px;
  margin-left: -2px;
  width: 100%;
}

#timbalada #article p.paragraph {
  text-transform: uppercase;
}

#bio {
  background: #ff3f4a url(../images/bg-section-bio.jpg) no-repeat top center;
  padding-bottom: 6rem;
  position: relative;
}

@media (max-width: 991px) {
  #bio {
    background-position-y: -124px;
  }
}

@media (max-width: 767px) {
  #bio {
    background: #ff3f4a;
  }
}

#bio h2.title {
  padding-top: 80px;
  position: relative;
  padding-left: 18vw;
}

#bio h2.title::before {
  content: '';
  border-bottom: 4px solid #fff;
  position: absolute;
  bottom: 28px;
  width: 100%;
  max-width: 19vw;
  left: 0;
}

#bio #article h3.subtitle {
  font-size: 1rem;
  padding: 11px 16px 10px 16px;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: -20px;
  text-transform: uppercase;
  font-weight: 800;
}

#bio #article h3.subtitle.bg-laranja {
  background-color: #fb9541;
}

#bio #article h3.subtitle.bg-azul {
  background-color: #0094d6;
  margin-left: 0;
  display: table;
  margin-top: 30px;
}

@media (max-width: 767px) {
  #bio #article h3.subtitle {
    margin-left: 0;
  }
}

#bio #article p.paragraph {
  text-transform: uppercase;
}

#bio #article p.paragraph .foto-bio {
  margin-left: -5vw;
  float: left;
  margin-right: 20px;
  margin-top: 30px;
}

@media (max-width: 991px) {
  #bio #article p.paragraph .foto-bio {
    margin: 0 auto;
  }
}

#bio .arte-bio {
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: table;
}

#bio h3.subtitle {
  font-size: 1rem;
  padding: 11px 16px 10px 16px;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: -20px;
  text-transform: uppercase;
  font-weight: 800;
}

#bio h3.subtitle.bg-laranja {
  background-color: #fb9541;
}

@media (max-width: 767px) {
  #bio h3.subtitle {
    margin-left: 0;
  }
}

#bio .arte-section-bio-footer {
  background: url(../images/arte-section-bio2.png) no-repeat top right;
  background-size: contain;
  width: 753px;
  height: 179px;
  position: absolute;
  right: 0;
  opacity: .3;
  bottom: 0;
}

@media (max-width: 1399px) {
  #bio .arte-section-bio-footer {
    width: 560px;
    height: 133px;
  }
}

@media (max-width: 1199px) {
  #bio .arte-section-bio-footer {
    width: 433px;
    height: 103px;
  }
}

#novidades {
  background-color: #0094d6;
}

#novidades #article .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
}

@media (max-width: 370px) {
  #novidades #article .link {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#novidades #article .link .figure {
  width: 40%;
  background-color: #fff;
  margin-right: 1rem;
}

@media (max-width: 370px) {
  #novidades #article .link .figure {
    width: 100%;
  }
}

#novidades #article .link .content {
  width: 60%;
}

@media (max-width: 370px) {
  #novidades #article .link .content {
    width: 100%;
  }
}

#novidades #article .link .content h3.subtitle {
  font-size: 36px;
  display: inline-block;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 800;
}

@media (max-width: 767px) {
  #novidades #article .link .content h3.subtitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

#novidades #article h2.title {
  padding-top: 80px;
  position: relative;
  text-align: right;
}

#novidades #article h2.title::before {
  content: '';
  border-bottom: 4px solid #fff;
  position: absolute;
  bottom: 28px;
  width: 100%;
  max-width: 22vw;
  right: 427px;
}

@media (max-width: 767px) {
  #novidades #article h2.title::before {
    right: 150px;
  }
}

#novidades #article p.paragraph {
  text-transform: uppercase;
}

#discografia {
  background-color: #ffa309;
}

#discografia h2.title {
  padding-top: 80px;
  position: relative;
  color: #e9424b;
}

#discografia h2.title::after {
  content: '';
  border-bottom: 4px solid #e9424b;
  position: absolute;
  bottom: 28px;
  margin-left: -2px;
  width: 100%;
  max-width: 22vw;
}

#discografia .bg {
  background: url(../images/bg-section-discografia.png) top center repeat;
}

#discografia .bg .list-capas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#discografia .bg .list-capas img {
  width: 25%;
  padding: 0 5px;
}

#discografia .bg .list-capas img:first-child {
  padding-bottom: 7px;
}

@media (max-width: 370px) {
  #discografia .bg .list-capas img {
    width: 50%;
  }
}

#discografia .bg .list-capas.cont {
  padding-top: 7px;
}

#discografia .link-mais-discografia {
  background: #e9424b;
  font-size: 24px;
  border-radius: 5px;
  margin: 0 auto;
  display: table;
  margin-top: 3rem;
  padding-bottom: 3rem;
  padding: 9px 32px 6px 32px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

#discografia .link-mais-discografia:hover {
  background: #df7327;
}

@media (max-width: 767px) {
  #discografia .link-mais-discografia {
    font-size: 14px;
  }
}

#fotosevideos {
  background-color: #ffa309;
  padding-bottom: 4rem;
}

#fotosevideos h2.title {
  padding-top: 80px;
  position: relative;
  text-align: right;
  color: #e9424b;
}

#fotosevideos h2.title::before {
  content: '';
  border-bottom: 4px solid #e9424b;
  position: absolute;
  bottom: 28px;
  width: 100%;
  max-width: 22vw;
  right: 561px;
}

@media (max-width: 767px) {
  #fotosevideos h2.title::before {
    right: 203px;
  }
}

#fotosevideos .list-thumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 39vw;
  overflow: hidden;
}

@media (max-width: 370px) {
  #fotosevideos .list-thumbs {
    height: initial;
  }
}

#fotosevideos .list-thumbs img {
  width: 100%;
}

#fotosevideos .list-thumbs img:hover {
  opacity: .8;
}

#fotosevideos .list-thumbs .img-width-33 {
  width: 33.33%;
}

@media (max-width: 370px) {
  #fotosevideos .list-thumbs .img-width-33 {
    width: 100%;
  }
}

#fotosevideos .list-thumbs .img-width-16 {
  width: 16%;
}

@media (max-width: 370px) {
  #fotosevideos .list-thumbs .img-width-16 {
    width: 100%;
  }
}

#fotosevideos .list-thumbs .img-width-34 {
  width: 34%;
}

@media (max-width: 370px) {
  #fotosevideos .list-thumbs .img-width-34 {
    width: 100%;
  }
}

#institucional {
  background: #ff3f4a;
  padding-bottom: 2.4rem;
  position: relative;
}

#institucional h2.title {
  padding-top: 80px;
  position: relative;
  padding-left: 18vw;
  color: #ffa309;
}

#institucional h2.title::before {
  content: '';
  border-bottom: 4px solid #ffa309;
  position: absolute;
  bottom: 28px;
  width: 100%;
  max-width: 19vw;
  left: 0;
}

#institucional .row-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#institucional .row-flex-center .img-caixa {
  right: -4vw;
  position: relative;
}

@media (max-width: 991px) {
  #institucional .row-flex-center .img-caixa {
    display: none;
  }
}

#institucional .row.space-top {
  margin-top: 5rem;
}

#institucional #article {
  position: relative;
}

#institucional #article h3.subtitle {
  font-size: 24px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  #institucional #article h3.subtitle {
    font-size: 20px;
  }
}

#institucional #article h4.subtitle {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  float: left;
  width: 530px;
  display: block;
  text-align: right;
  margin-top: 243px;
  position: absolute;
  left: -252px;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 800;
}

#institucional #article h4.subtitle.color-laranja {
  color: #ffa309;
}

#institucional #article h4.subtitle.color-amarelo {
  color: #bcee38;
}

@media (max-width: 1399px) {
  #institucional #article h4.subtitle {
    left: -258px;
  }
}

@media (max-width: 1199px) {
  #institucional #article h4.subtitle {
    left: -262px;
  }
}

@media (max-width: 991px) {
  #institucional #article h4.subtitle {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    width: 100%;
    text-align: left;
    margin-top: 0;
    position: relative;
    left: 0;
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  #institucional #article h4.subtitle {
    font-size: 20px;
  }
}

#institucional #article p.paragraph {
  text-transform: uppercase;
}

#institucional #article p.paragraph b {
  display: block;
  text-align: left;
}

#institucional #article p.paragraph .foto-pracatum {
  float: left;
  margin-right: 40px;
  margin-top: 6px;
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  #institucional #article p.paragraph .foto-pracatum {
    width: 35%;
    max-width: 300px;
  }
}

#institucional #article p.paragraph span {
  background-color: #0094d6;
  padding: 0 6px;
}

#institucional #article p.paragraph span::before {
  content: '';
  position: relative;
  background: url(../images/ico-medalha.png) no-repeat;
  background-color: #ff3f4a;
  width: 13px;
  height: 25px;
  float: left;
  margin-right: 5px;
}

#institucional #article p.paragraph .link {
  background: #fff;
  color: #0094d6;
  float: left;
  padding: 2px 10px;
  margin-left: 17px;
}

#institucional #article p.paragraph .link:hover {
  background: #0094d6;
  color: #fff;
}

#institucional #article p.paragraph.space-left {
  margin-left: 2vw;
}

@media (max-width: 991px) {
  #institucional #article p.paragraph.space-left {
    margin-left: 0;
  }
}

#institucional .bg-artistas-institucional {
  background: url(../images/bg-artistas-institucional.png) no-repeat bottom center;
  background-size: contain;
  width: 631px;
  height: 804px;
  margin-left: -10vw;
}

@media (max-width: 1894px) {
  #institucional .bg-artistas-institucional {
    width: 560px;
  }
}

@media (max-width: 1399px) {
  #institucional .bg-artistas-institucional {
    margin: 0 auto;
    margin-bottom: 5rem;
  }
}

@media (max-width: 991px) {
  #institucional .bg-artistas-institucional {
    width: 300px;
    height: 440px;
  }
}

@media (max-width: 386px) {
  #institucional .bg-artistas-institucional {
    width: 90%;
  }
}

#institucional .bg {
  background: url(../images/bg-section-institucional.png) repeat-x;
  width: 100%;
  height: 68px;
  position: absolute;
  left: 0;
  margin-top: -29px;
}

@media (max-width: 1399px) {
  #institucional .bg {
    margin-top: -105px;
  }
}

@media (max-width: 991px) {
  #institucional .bg {
    margin-top: -125px;
  }
}

#guetho {
  background-color: #ffa309;
}

#guetho .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

#guetho .content .figure {
  width: 50%;
  background: url(../images/foto-guetho.jpg) no-repeat top right;
  background-size: cover;
  margin: 0;
}

@media (max-width: 991px) {
  #guetho .content .figure {
    width: 100%;
    background: none;
  }
}

#guetho .content .figure img {
  display: none;
  width: 100%;
}

@media (max-width: 991px) {
  #guetho .content .figure img {
    display: block;
  }
}

#guetho .content #article {
  width: 50%;
  max-width: 662px;
}

@media (max-width: 1399px) {
  #guetho .content #article {
    width: 565px;
  }
}

@media (max-width: 1199px) {
  #guetho .content #article {
    width: 470px;
  }
}

@media (max-width: 991px) {
  #guetho .content #article {
    width: 96%;
    max-width: inherit;
  }
}

#guetho .content #article h2.title {
  padding-top: 10px;
  position: relative;
  color: #000;
  padding-left: 2rem;
}

#guetho .content #article h2.title::before {
  content: '';
  border-bottom: 4px solid #000;
  position: absolute;
  bottom: 29px;
  margin-left: -13vw;
  width: 100%;
  max-width: 15vw;
}

#guetho .content #article h3.subtitle {
  font-size: 24px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 0;
  padding-left: 2rem;
  color: #000;
}

@media (max-width: 767px) {
  #guetho .content #article h3.subtitle {
    font-size: 20px;
  }
}

#guetho .content #article p.paragraph {
  color: #000;
  padding-bottom: 4rem;
  padding-left: 2rem;
}

@media (max-width: 991px) {
  #guetho .content #article p.paragraph {
    padding-right: 1rem;
  }
}

#guetho .content #article .bg {
  background: url(../images/bg-section-guetho.png) repeat;
  width: 100%;
  height: 69px;
  position: absolute;
  bottom: 0;
}

#faclube {
  background: #c0e238;
  padding-bottom: 4rem;
}

#faclube h2.title {
  padding-top: 80px;
  position: relative;
  padding-left: 18vw;
  color: #e9424b;
}

#faclube h2.title::before {
  content: '';
  border-bottom: 4px solid #e9424b;
  position: absolute;
  bottom: 28px;
  width: 100%;
  max-width: 19vw;
  left: 0;
}

#faclube .box-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#faclube .box-logos img {
  width: 24%;
  margin: 5px;
  background-color: #fff;
}

@media (max-width: 370px) {
  #faclube .box-logos img {
    width: 40%;
  }
}

#contratante {
  background-color: #ffa309;
  padding-bottom: 6rem;
}

#contratante .container-center {
  max-width: 970px;
  margin: 0 auto;
  overflow: hidden;
}

#contratante .container-center h2.title {
  position: relative;
  color: #e9424b;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: center;
}

#contratante .container-center h2.title::after {
  content: '';
  border-bottom: 4px solid #e9424b;
  position: absolute;
  bottom: 28px;
  margin-left: -4px;
  width: 100%;
  max-width: 3.5vw;
}

#contratante .container-center h3.subtitle {
  font-size: 18px;
  display: table;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  color: #232323;
  margin: 0 auto;
}

#contratante .container-center .box-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

#contratante .container-center .box-links a.link {
  width: 47%;
  text-align: center;
  background: #e9424b;
  font-size: 26px;
  font-weight: 800;
  border-radius: 6px;
  padding: 9px;
  margin: 10px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  #contratante .container-center .box-links a.link {
    font-size: 18px;
    width: 46%;
  }
}

@media (max-width: 511px) {
  #contratante .container-center .box-links a.link {
    width: 100%;
  }
}

#contratante .container-center .box-links a.link:hover {
  background: #000;
}

#digitais {
  background-color: #e9424b;
  padding-bottom: 6rem;
}

#digitais .container-center {
  max-width: 970px;
  margin: 0 auto;
  overflow: hidden;
}

#digitais .container-center h2.title {
  position: relative;
  color: #fff;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: center;
}

#digitais .container-center h2.title::after {
  content: '';
  border-bottom: 4px solid #fff;
  position: absolute;
  bottom: 28px;
  margin-left: -4px;
  width: 100%;
  max-width: 3.5vw;
}

#digitais .container-center .box-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1rem;
}

#digitais .container-center .box-links a.link {
  margin: 0 .3rem;
  border-radius: 100%;
}

#digitais .container-center .box-links a.link:hover {
  background: #c0e238;
}

@media (max-width: 767px) {
  #digitais .container-center .box-links a.link {
    width: 10%;
  }
}

@media (max-width: 370px) {
  #digitais .container-center .box-links a.link {
    width: 50px;
  }
}

@media (max-width: 767px) {
  #digitais .container-center .box-links a.link img {
    width: 100%;
  }
}
/*# sourceMappingURL=theme.css.map */